.loader__container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  transition: all .1s ease-in-out;

  display: grid;
  place-items: center;

  z-index: 9999999;
  background: #0f2027;
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  );

  .loader {
    background: rgba(189, 195, 199, 1);
    height: 3em;
    width: 3em;
    animation: loadit 4s linear infinite;
  }

  @keyframes loadit {
    55% {
      background: rgba(189, 195, 199, 0.4);
      border-radius: 100%;
      transform: rotate(360deg);
      box-shadow: 7em 0 0 rgba(189, 195, 199, 0.3),
        -7em 0 0 rgba(189, 195, 199, 0.3), 3em 0 0 rgba(189, 195, 199, 0.3),
        -3em 0 0 rgba(189, 195, 199, 0.3), 0 7em 0 rgba(189, 195, 199, 0.3),
        0 -7em 0 rgba(189, 195, 199, 0.3), 0 3em 0 rgba(189, 195, 199, 0.3),
        0 -3em 0 rgba(189, 195, 199, 0.3);
    }
  }
}

#my-scrollbar {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

:root {
  font-size: 16px;

  @media #{$upSMDesktop} {
    font-size: 16px;
  }
}

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
  font-family: inherit;
  &::before,
  &::after {
    font-family: inherit;
    box-sizing: inherit;
  }
}

body {
  position: relative;
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Sorts Mill Goudy", serif;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  outline: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media #{$upTaplet} {
    width: 750px;
  }

  @media #{$upSMDesktop} {
    width: 970px;
  }

  @media #{$upLGDesktop} {
    width: 1170px;
  }
}

.hidden-sm {
  @media (max-width: 991px) {
    display: none;
  }
}

.hidden-lg {
  @media #{$upSMDesktop} {
    display: none;
  }
}
