html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: inherit;
  font-family: inherit;
  &::before,
  &::after {
    font-family: inherit;
    box-sizing: inherit;
  }
}

body {
  position: relative;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Sorts Mill Goudy', serif;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  outline: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media #{$upTaplet} {
    width: 750px;
  };

    @media #{$upSMDesktop} {
    width: 970px;
  };

    @media #{$upLGDesktop} {
    width: 1170px;
  };
}

